@import "../../common.module.scss";
.container {
  text-align: center;
}
.heading {
  font-size: 30px;
}
.checkboxContainer {
  justify-content: space-between;
  margin: 15px 0;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.fieldLogin {
  width: 100%;
}
@media screen and (min-width: 420px) {
  .container {
    max-width: 400px;
  }
}
